* {
    font-family: "Helvetica", "sans-serif"
}

header {
    height: 150px;
    background-color: #405470;
    color: #fff;
    padding: 10px;
}
nav {
    height: 40px;
    display: flex;
    align-items: flex-start;
}


h1 {
    color: #405470;
    background-color: #FFFA60;
    display: block;
    padding: 25px 0 15px 15px;
    margin: 0;
}
h3 {
    margin: 0;
    font-weight: lighter;
}
main {
    background-color: #FFFA60;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

article {
    background-color: #fff;
    height: auto;
    width: 23vw;
    border: 2px solid lightgrey;
    margin: 10px auto;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article:hover {
    transform: scale(1.025);
    transition: ease 250ms;
}

article img {
    max-width: 100%;
}

.reviews {
    float: right;
    font-size: 12px;
    margin: 10px 10px;
}

.nav-links {
    padding-bottom: 10px;
}

.nav-links:hover {
    color: #FFFA60;
}

.hamburger {
    height: 25px;
    display: none;
}

.dealer-locator {
    color: #fff;
    position: relative;
    float: right;
    width: 100px;
    padding-right: 3px;
}

.dealer-locator:hover {
    color: #FFFA60;
}

.husky-logo {
    height: 50px;
    margin: 50px 0;
    position: absolute;
    right: 10px;
}

.globe-icon {
    width:20px;
    float:right;
    margin: 14px 5px 0;
}

.header-icon {
    width:20px;
    margin: 95px 5px -5px 10px;
}

.review-number {
    font-size: 16px;
    margin-left: 27px;
}
.icon {
    position:relative;
    width: 28px;
    margin: 10px 0 0 10px;
}

.bike-model {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 0 10px;
}

.engine{
    margin: 0 10px 10px;
    font-size: 14px;
}

.engine-performance {
    background-color: #405470;
    color: #fff;
    height: auto;
    margin: 0 10px;
    padding: 8px;
    font-size: 14px;
    width: auto;
}

.price {
    padding: 10px 0 10px 8px;
}

.price-release {
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 820px) {

article {
    width: 45%;
}

}

@media screen and (max-width: 670px) {

article {
    width: 90%;
}

nav {
    height: 20px;
}

.husky-logo {
    height: 40px;
    margin: 85px 5px;
}

.header-icon {
    width: 12px;
    margin: 105px 5px 0px 10px;
}
}

@media screen and (max-width: 550px) {

h1 {
    font-size: 20px;
    padding: 25px 0 0 30px;
}
header {
    height: 120px;
}
nav {
    display: none;
}

.globe-icon {
    margin-top: 8px;
}

.dealer-locator{
    margin-top: 10px;
}
.husky-logo {
    margin-top: 75px;
}

.nav-links {
    height: 10px;
    display: block;
    margin: 0;
}
.hamburger {
    display: inline-block;
    padding: 5px;
}
}